$main-black: #333333;
$main-dark-grey: #4F4F4F;
$main-grey:#828282;
$main-grey-light:#BDBDBD;

$main-white-dark:#E0E0E0;
$main-white:#F2F2F2;

$main-red:#EB5757;
$main-orange:#F2994A;
$main-yellow:#F2C94C;

$main-green-dark:#219653;
$main-green:#27AE60;
$main-green-light:#6FCF97;

$main-blue-dark:#2F80ED;
$main-blue:#2D9CDB;
$main-blue-light:#56CCF2;

$main-purple:#9B51E0;
$main-purple-light:#BB6BD9;