@use '../../utility/variables';

.kanban-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 420px;
  max-width: 420px;
  position: relative;
  margin-right: 20px;

  &_title {
    text-align: center;
    padding: 8px 0;
    border-radius: 5px;
    color: variables.$main-white;
    margin-bottom: 10px;
    width: 100%;
  }

  & button {
    cursor: pointer;
    padding: 0 15px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    margin: 10px 0;
    & svg {
      font-size: 20px;
    }
  }

  &:last-child {
    margin-right: 5px;
  }
}