.forgotPassword {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    gap: 20px;
    border-radius: 4px;
    font-size: 80%;
    text-align: center;
  
    .forgotPassword__heading {
      color: white;
      margin-top: 40px;

    }
  
    .forgotPassword__email {
      width: 200px;
      align-self: center;
      background-color: #bbbbbb;
      padding: 10px;
      border-radius: 5px;
      outline: none;
      border: none;
      margin-top: 50px;
    }
  
    .forgotPassword__email::placeholder {
      color: #5e5e5e;
    }
  
    .forgotPassword__btn {
      width: 200px;
      align-self: center;
      outline: none;
      border: none;
      padding: 10px;
      background-color: #97abf4;
      color: white;
      border-radius: 5px;
    }
  
    .remember {
      margin-top: -10px;
      color: #999999;
    }
  }
  