@use '../../../utility/variables';

.kanban-task_person {
  display: flex;
  justify-content: flex-end;
  justify-self: flex-end;
  width: 100%;

  &-image {
    height: 40px;
    width: 40px;
    margin-right: 5px;
    border-radius: 10px;
    background-position: center;
    object-fit: cover;
  }

  &-content {
    &_name {
      font-weight: 500;
      font-size: 14px;
      color: variables.$main-black;
    }

    &_position {
      font-size: 13px;
      color: variables.$main-grey;
    }

    &_email {
      font-size: 13px;
      color: variables.$main-grey;;
    }
  }

}

